.icon-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.popover {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  top: calc(100% + 5px);
  /* Position the popover below the button */
  left: 92%;
  transform: translateX(-50%);
  /* Center the popover horizontally */
}

.icon-button:hover + .popover {
  display: block;
}

.popover:hover {
  display: block;
  /* Keep popover visible when hovering over it */
}

.navbar-left {
  display: flex;
  justify-content: right;
  width: 100%;
  align-items: center;
}

.img-container {
  background-color: blue;
  width: 100%;
  height: 408px;
}

.access-container {
  height: 100px;
}

.footer-link:hover {
  color: rgb(0, 4, 255);
}

.row-with-lines::after {
  margin-left: 3%;
  content: "";
  position: relative;
  left: 0;
  width: 94%;

  height: 1px;
  background: gray;
  /* Horizontal lines */
}

.row-with-lines::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: gray;
  /* Horizontal lines */
}

.footer a:hover {
  color: rgb(89, 112, 244);
}

.nav-item a {
  color: black;
}

.nav-link:hover,
.nav-item a:focus {
  color: blue;
}

.footer-link {
  color: black;
  text-decoration: none;
}

.footer-link hover {
  color: blue;
}

.course-details-cards p {
  color: #6544dc;

  font-family: Arial, sans-serif;
}

.header1 {
  padding-top: 4%;
  padding-left: 8%;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.para1 {
  margin-top: 2%;
  padding-left: 8%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.items {
  padding-top: 4.4%;
  padding-left: 5%;
  margin-left: 4%;
}

.bookmark-1 {
  color: white;
}

.unlist-items {
  border: 1px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  box-shadow: 1px 1px gray;
  width: 85%;
  margin-left: 8%;
  margin-right: 10%;
  margin-top: 4.1%;
}
.screen4 {
  margin-top: 34%;
  margin-right: 8%;
}

.btn-detail {
  margin-bottom: 5%;
  width: 30%;
  margin-left: 6%;
  border: 1px solid black;
  color: grey;
  font-size: smaller;
}

.btn-detail:hover {
  background-color: #64748b;
  color: white;
}

@media screen and (max-width: 560px) {
  .header1 {
    padding-top: 8%;
    padding-left: 2%;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }

  .para1 {
    font-size: 20px;
    padding-left: 2%;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .unlist-items {
    margin-left: 2%;
    width: 100%;
  }
  .items {
    margin-left: 0.5%;
  }
}

@media screen and (max-width: 992px) {
  .card1,
  .card2,
  .card3 {
    margin-left: 10%;
  }
  .screen4 {
    padding-top: 2%;
  }
}
